.tickets-list {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__search {
    padding-inline: 24px;
    display: flex;
    flex-direction: row-reverse;

    nz-input-group {
      max-width: 40%;
      width: 100%;
      min-width: 300px;
    }
  }
}